{
  "presets": [
    ["env", {
      "debug": false,
      "targets": {
        "chrome": 52,
        "browsers": [
          "Last 3 versions",
          "Safari >= 7",
          "not IE <= 6"
        ]
      }
    }],
    "es2015",
    "react"
  ],
  "plugins": ["react-hot-loader/babel"]
}
